@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body{
  background-color:#cbd28f ;
}
/* global css */
.container {
  max-width: 112rem;
  width: 100%;
  margin: auto;
}
.bold-text {
  font-weight: bold;
  font-size: 2.2rem;
}
lable,
.skills {
  display: block;
  font-size: 1.6rem;
  background-color: #317874;
  padding: 0.4rem;
  color: white;
}
input {
  width: 100%;
  padding: 0.8rem 0.4rem;
  border: 0.1rem solid grey;
  outline: none;
}
input:focus,
textarea:focus {
  box-shadow: 0.1rem 0.1rem 2rem #6ec4c0;
  border-radius: 1rem;
}
.button {
  width: 12rem;
  margin: auto;
}
.btn {
  padding: 0.8rem 1.2rem;
  background-color: darkgray;
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 2rem rgb(226, 218, 218);
  margin-bottom: 1rem;
}

/* heading  */
h1 {
  text-align: center;
  font-size: 4rem;
}

/* card details section start */
.details-card {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  /* display: none; */
}
.right-info-box,
.left-info-box {
  width: 50%;
}
.input-box {
  width: 100%;
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  resize: none;
  padding: 0.8rem 0.4rem;
  border: 0.1rem solid grey;
  outline: none;
}
.gr {
  width: 100%;
  margin-top: 2rem;
}
.skills-box {
  font-size: 1.4rem;
  background-color: white;
  border: 0.2rem solid grey;
}

/* ----------------------resume template css ------------------- */
.template-data-card {
  display: none;
  margin-top: 5rem;
}

.resume-template-card {
  display: flex;
  border: 0.2rem solid grey;
}
.info-box-left {
  flex-basis: 25%;
  background-color: #00ffca;
  padding: 1.2rem;
}
.info-box-right {
  flex-basis: 75%;
}
.info-box-left .Address-value {
  margin: 1rem 0;
}
.address-title {
  padding: 1.2rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.info-box-left .Address-value .address-data {
  text-align: left;
  font-size: 1.4rem;
  margin: 1rem 0;
}
.heading-bold {
  background-color: #6ec4c0;
  padding: 0.6rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
.heading-bgcolor {
  background-color: #05bfdb;
}
.objective-info {
  margin-bottom: 4rem;
}
.objective-info .obj-details {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.contact-info {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
.social-media-link-info {
  margin-bottom: 4rem;
}
.social-media-link-info .links {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
/* right section */
.resume-holder-name {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  padding: 1.4rem 0 1.2rem 1rem;
  margin-bottom: 4rem;
  background: #0a4d68;
  margin-top: 3rem;
  color: white;
}
.holder-info-box {
  margin-bottom: 4rem;
  border-top: none;
}
.holder-info-box ul li,
#t-edu,
#t-skills {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
#t-w-exp {
  font-size: 1.4rem;
  padding: 0.4rem;
}
.holder-info-box ul {
  padding: 2rem;
}
#tags {
  border: none;
  outline: none;
  padding: 1.2rem 3rem;
  background: transparent;
  font-size: 1.4rem;
  box-shadow: none;
}
.skill-span {
  font-size: 1.4rem;
  border: 0.1rem solid grey;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #317874;
  color: white;
}
i {
  vertical-align: bottom;
  padding-left: 0.4rem;
}
#skill-title {
  font-size: 1.6rem;
  display: block;
  background-color: #317874;
  padding: 0.6rem;
  color: white;
}
.tag-item {
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.guide {
  color: grey;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  html{
    font-size: 45%;
  }
 .resume-data-card .details-card{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:0 4rem;
 }
 .left-info-box,.right-info-box{
  width: 100%;
 }
 .template-data-card{
  padding: 0 4rem;
 }
}
